<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/ http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Homework4DynamicWeb</display-name>
	<servlet>
		<description></description>
		<display-name>XMLGenerator</display-name>
		<servlet-name>XMLGenerator</servlet-name>
		<servlet-class>hu.infokristaly.homework.dynamicweb.XMLGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XMLGenerator</servlet-name>
		<url-pattern>/XMLGenerator</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
